.btn-div {
    padding: 10px;
}

.loaded-btn{
    margin: 5px;
}

.edit{
    display: none;
}

/* div.edit .edit{
    display: initial;
} */

.noedit{
    display: none;
}

#image3{
    color: teal;
    
}